@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/Inter-Bold.otf) format('otf');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/Inter-Bold.otf) format('otf');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/Inter-SemiBold.otf) format('otf');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/Inter-SemiBoldItalic.otf) format('otf');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/Inter-Regular.otf) format('otf');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/Inter-Italic.otf) format('otf');
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  --width: 750px;
}

body:not(.has-content) {
  background-image: url(dragbg.png);
  background-repeat: no-repeat;
  background-color: #eee;
  background-position: center center;
  background-size: 15rem auto;
  min-height: 100vh;
}

body.dropping:not(.has-content) {
  box-shadow: inset 0 0 0 0.35rem #28f;
}

#refresh {
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  z-index: 9999;
  box-shadow: 0 0.075rem 0.3rem rgba(55, 71, 79, 0.325);
  outline-color: #333;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 0.55rem;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s, fill 0.2s;
  cursor: pointer;
  fill: #333333;
}
body.printing #refresh{
  display: none;
}
#refresh svg {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}

#content {
  width: var(--width);
  flex-basis: var(--width);
  padding: 2rem 1rem;
  transition: margin-top 0.3s;
}

body:not(.has-content) #content {
  display: none;
}

@media print {
  body {
    --width: 750px !important;
    min-width: calc(750px + 2rem);
  }
  #content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 800px) {
  body {
    --width: calc(100% - 50px);
  }
}

pre code {
  padding: 0 !important;
}

#meta,
#metasmall {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1;
  position: fixed;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  border-top-right-radius: 0;
  top: 0;
  right: 0;
  color: #888;
  line-height: 1.5;
  text-align: right;
}

body:not(.has-content) #meta,
body:not(.has-content) #metasmall {
  display: none;
}

#metasmall {
  width: 100%;
  padding: 0.5rem 0;
  right: 0 !important;
  top: 0 !important;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: opacity 0.3s, box-shadow 0.3s;
}
#metasmall span {
  margin: 0 0.5rem;
}

@media print {
  #meta,
  #metasmall,
  #refresh {
    display: none !important;
  }
}

#buttons {
  margin: 0;
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  transition: top 0.3s;
}
.has-content #buttons {
  display: none;
}
#buttons button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  line-height: 1.65;
  outline-color: #333333;
  color: #888;
  display: block;
  cursor: pointer;
}
#buttons button:hover {
  color: #333;
  text-decoration: underline;
}

@media only screen and (min-width: 1000px) {
  #buttons {
    display: block !important;
  }
}

@media only screen and (max-width: 1200px) {
  .has-content #buttons {
    top: 2rem;
  }

  #metasmall {
    opacity: 1;
    pointer-events: all;
    z-index: 9999;
  }
  #meta {
    display: none;
  }
  body #content {
    margin-top: 1rem;
  }
  body.scrolled #metasmall {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}
@media only print {
  body #content {
    margin-top: 0;
  }
}

body.printing * {
  transition-duration: 0s !important;
}

.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6 {
  line-height: 1.35 !important;
}

.wysiwyg strong {
  font-weight: 600 !important;
}

.wysiwyg img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

pre::-webkit-scrollbar {
  height: 0;
}
